extends ../../core/pid
include ../../metro-lcd/templates/service-list

block head
  link(rel='stylesheet' href=`${pidStaticBase}/css/colours.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/test/service-list-test.css`)
  link(rel='stylesheet' href=`${pidStaticBase}/css/metro-lcd/templates/service-list.css`)

block scripts
  script(src=`${pidStaticBase}/scripts/metro-lcd/service-list.mjs` type='module')
  script.
    window.onload = () => {
      const BLY = new CompactServiceList('Lilydale, Belgrave, Alamein & Glen Waverley Lines', 'lilydale', 4)
      const CCY = new CompactServiceList('Frankston, Werribee, Williamstown & Altona Lines', 'frankston', 4)
      const DNG = new CompactServiceList('Cranbourne & Pakenham Lines', 'cranbourne', 3)
      const SHM = new CompactServiceList('Sandringham Line', 'sandringham', 2)
      const VLP = new CompactServiceList('Regional Services', 'vline', 1)

      BLY.mount('#BLY')
      CCY.mount('#CCY')
      DNG.mount('#DNG')
      SHM.mount('#SHM')
      VLP.mount('#VLP')

      BLY.updateServices([{
        schTime: '9:19am',
        estTime: 6,
        destination: 'Lilydale',
        platform: '9',
        disruptions: []
      }, {
        schTime: '9:32am',
        estTime: 18,
        destination: 'Glen Waverley',
        platform: '9',
        disruptions: []
      }, {
        schTime: '9:39am',
        estTime: 25,
        destination: 'Belgrave',
        platform: '9',
        disruptions: []
      }, {
        schTime: '9:52am',
        estTime: 38,
        destination: 'Glen Waverley',
        platform: '9',
        disruptions: []
      }])

      CCY.updateServices([{
        schTime: '9.20am',
        estTime: 5,
        destination: 'Werribee',
        platform: '3',
        disruptions: []
      }, {
        schTime: '9.26am',
        estTime: 11,
        destination: 'Cheltenham',
        platform: '4',
        disruptions: []
      }, {
        schTime: '6:33pm',
        estTime: 18,
        destination: 'Moorabbin',
        platform: '4',
        disruptions: []
      }, {
        schTime: '6:35pm',
        estTime: 20,
        destination: 'Werribee',
        platform: '3',
        disruptions: []
      }])

      DNG.updateServices([{
        schTime: '9.20am',
        estTime: 5,
        destination: 'East Pakenham',
        platform: '6',
        disruptions: []
      }, {
        schTime: '9.30am',
        estTime: 15,
        destination: 'Cranbourne',
        platform: '6',
        disruptions: []
      }, {
        schTime: '9.40am',
        estTime: 25,
        destination: 'East Pakenham',
        platform: '6',
        disruptions: []
      }])

      SHM.updateServices([{
        schTime: '9.21am',
        estTime: 6,
        destination: 'Sandringham',
        platform: '2',
        disruptions: []
      }, {
        schTime: '9.41am',
        estTime: 26,
        destination: 'Sandringham',
        platform: '2',
        disruptions: []
      }])

      VLP.updateServices([{
        schTime: '9.35am',
        estTime: 16,
        destination: 'Bairnsdale',
        platform: '6',
        disruptions: []
      }])
    }

block pid
  +compactServiceListTemplate()

  div.pid.pid-16-9.landscape.light.rmd
    div.header
      span Trains from Richmond to:
    div.sections
      div.left
        div#BLY
        div#CCY
      div.right
        div#DNG
        div#SHM
        div#VLP