mixin serviceHeader(classes)
  div(class=`next-service-info ${classes || ''}`)
    div.next-service-header
      div.left
        span.next-service-sch-time
        span.next-service-destination
      div.right
        span.next-service-platform
        span.next-service-est-time
    div.next-service-pattern-info
      span.next-service-summary --
      span.next-service-pattern-text(style='opacity: 0')
        span --