div.next-service-info
  div.next-service-header
    div.left
      span.next-service-sch-time
      span.next-service-destination
    div.right
      span.next-service-platform
      span.next-service-est-time
  div.next-service-pattern-info
    span.next-service-summary --
    span.next-service-pattern(style='opacity: 0')
      span --