mixin compactServiceListTemplate()
  div(class='service-list compact template {0}')
    div.line-marker
    div.content
      p.title {1}
      div.services
        div.service-row.template
          div.line-marker
          span.service-sch-time --
          span.service-destination --
          span.service-platform
          span.service-est-time

mixin compactMultiServiceListTemplate()
  div(class='service-list multi template')
    div.content
      div.info
        span.title {0}
        span.description {1}
      div.services
        div(class=`service-row template no-line`)
          span.service-platform
          span.service-est-time