mixin compactServiceListTemplate()
  div(class='service-list compact template {0}')
    div.line-marker
    div.content
      p.title {1}
      div.services
        div.service-row.template
          div.line-marker
          span.service-sch-time --
          span.service-destination --
          span.service-platform
          span.service-est-time

mixin compactMultiServiceListTemplate()
  div(class='service-list multi template')
    div.content
      div.info
        span.title Flinders Street
        span.description Parliament, Melbourne Central, Flagstaff
      div.services
        div(class=`service-row template {A} lilydale`)
          span.service-platform 1
          span.service-est-time 15 min