div.service-list {
  width: var(--service-list-width);
}

div.service-list > div.line-marker {
  height: calc(var(--service-list-width) * 0.02);
  background-color: var(--line-colour);
}

div.service-list > div.content {
  --content-margin: calc(var(--service-list-width) * 0.025);
  --content-width: calc(var(--service-list-width) - var(--content-margin) * 2);

  width: var(--content-width);
  margin-inline: var(--content-margin);

  margin-bottom: calc(var(--service-list-width) * 0.03);
}

div.service-list p.title {
  margin: 0;
  font-size: calc(var(--service-list-width) * 0.035);
  margin-block: calc(var(--service-list-width) * 0.018);
}

div.service-row {
  --block-height: calc(var(--service-list-width) * 0.06);
  --font-size: calc(var(--service-list-width) * 0.032);

  --line-marker-width: calc(var(--service-list-width) * 0.015);
  --sch-time-margin: calc(var(--service-list-width) * 0.02);
  --sch-time-width: calc(var(--service-list-width) * 0.15);
  --dest-width: calc(var(--service-list-width) * 0.5);
  --platform-width: calc(var(--service-list-width) * 0.06);
  --est-time-margin: calc(var(--service-list-width) * 0.008);
  --est-time-width: calc(var(--service-list-width) * 0.17);
  
  width: var(--content-width);
  border-top: calc(var(--service-list-width) * 0.0025) solid #000;
}

div.service-row > * {
  display: inline-block;
  font-size: var(--font-size);
  margin-block: calc(var(--service-list-width) * 0.007);
  vertical-align: middle;
}

div.service-row div.line-marker {
  width: var(--line-marker-width);
  height: var(--block-height);
  background-color: var(--line-colour);
}

div.service-row span.service-sch-time {
  margin-left: var(--sch-time-margin);
  width: var(--sch-time-width);
  font-weight: lighter;
}

div.service-row span.service-destination {
  width: var(--dest-width);
}

div.service-row span.service-platform {
  margin-left: calc(var(--content-width) - var(--line-marker-width) - var(--sch-time-margin) - var(--sch-time-width) - var(--dest-width) - var(--platform-width) - var(--est-time-margin) - var(--est-time-width));

  width: var(--platform-width);
  padding-block: calc((var(--block-height) - var(--font-size)) / 2);
  line-height: var(--font-size);

  background-color: var(--line-colour);
  color: var(--text-colour);
  text-align: center;
}

div.service-row span.service-est-time {
  margin-left: var(--est-time-margin);

  width: var(--est-time-width);
  padding-block: calc((var(--block-height) - var(--font-size)) / 2);
  line-height: var(--font-size);

  background-color: #000;
  color: #fff;
  text-align: center;
}