div.alamein, div.belgrave, div.lilydale, div.glen-waverley {
  --line-colour: #152C6B;
  --text-colour: #fff;
}

div.cranbourne, div.pakenham {
  --line-colour: #279FD5;
  --text-colour: #000;
}

div.frankston, div.stony-point, div.werribee, div.williamstown {
  --line-colour: #028430;
  --text-colour: #fff;
}

div.craigieburn, div.sunbury, div.upfield {
  --line-colour: #FFBE00;
  --text-colour: #000;
}

div.hurstbridge, div.mernda {
  --line-colour: #BC2431;
  --text-colour: #fff;
}

div.sandringham {
  --line-colour: #F178AF;
  --text-colour: #000;
}

div.flemington-racecourse {
  --line-colour: #CE0058;
  --text-colour: #fff;
}

div.no-line {
  --line-colour: #95979A;
  --text-colour: #fff;
}

div.vline {
  --line-colour: #753F98;
  --text-colour: #fff;
}

div.city-circle {
  --line-colour: #000;
  --text-colour: #fff;
}
