.alamein, .belgrave, .lilydale, .glen-waverley {
  --line-colour: #152C6B;
  --text-colour: #fff;
}

.cranbourne, .pakenham, .metro-tunnel {
  --line-colour: #279FD5;
  --text-colour: #000;
}

.frankston, .stony-point, .werribee, .williamstown {
  --line-colour: #028430;
  --text-colour: #fff;
}

.craigieburn, .sunbury, .upfield {
  --line-colour: #FFBE00;
  --text-colour: #000;
}

.hurstbridge, .mernda {
  --line-colour: #BC2431;
  --text-colour: #fff;
}

.sandringham {
  --line-colour: #F178AF;
  --text-colour: #000;
}

.flemington-racecourse {
  --line-colour: #CE0058;
  --text-colour: #fff;
}

.no-line {
  --line-colour: #95979A;
  --text-colour: #fff;
}

.vline {
  --line-colour: #753F98;
  --text-colour: #fff;
}

.city-circle {
  --line-colour: #000;
  --text-colour: #fff;
}
