html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pid {
  width: var(--width);
  height: var(--height);
  background-color: #222222;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}



.pid-16-9.landscape {
  --width: calc(100vh / 9 * 16);
  --height: 100vh;
}

@media (max-aspect-ratio: 16/9) {
  .pid-16-9.landscape {
    --width: 100vw;
    --height: calc(100vw * 9 / 16);
  }
}

.pid-16-9.portrait {
  --width: calc(100vh / 16 * 9);
  --height: 100vh;
}

@media (max-aspect-ratio: 9/16) {
  .pid-16-9.portrait {
    --width: 100vw;
    --height: calc(100vw * 16 / 9);
  }
}


.pid-32-9.landscape {
  --width: calc(100vh / 9 * 32);
  --height: 100vh;
}

@media (max-aspect-ratio: 32/9) {
  .pid-32-9.landscape {
    --width: 100vw;
    --height: calc(100vw * 9 / 32);
  }
}