div.line-marker {
  width: 100%;
  height: calc(var(--height) * 0.04);

  background-color: var(--line-colour);
}

.msg-size-1 {
  font-size: calc(var(--height) * 0.08);
}

.msg-size-2 {
  font-size: calc(var(--height) * 0.10);
}

.msg-size-3 {
  font-size: calc(var(--height) * 0.135);
}

.msg-size-4 {
  font-size: calc(var(--height) * 0.15);
}

.msg-size-5 {
  font-size: calc(var(--height) * 0.17);
}