div.pid.landscape div.line-marker {
  width: 100%;
  height: calc(var(--height) * 0.04);

  background-color: var(--line-colour);
}

div.pid.portrait div.line-marker {
  width: 100%;
  height: calc(var(--width) * 0.04);

  background-color: var(--line-colour);
}

div.next-service-info {
  width: var(--pid-body-width);
  margin-top: calc(var(--height) * 0.02);
  border-bottom: calc(var(--height) * 0.004) solid #000;
}

div.next-service-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.next-service-header div.left, div.next-service-header div.right {
  display: flex;
  align-items: baseline;
}

div.portrait div.next-service-header div.left, div.portrait div.next-service-header div.right {
  flex-direction: column;
}

div.landscape div.next-service-header div.left, div.landscape div.next-service-header div.right {
  flex-direction: row;
}

span.next-service-sch-time {
  font-size: var(--next-svc-sch-time-font);
  font-weight: 400;
  margin-right: calc(var(--width) * 0.015);
}

span.next-service-destination {
  font-size: var(--next-svc-dest-font);
  font-weight: 700;
}

div.pid.landscape div.next-service-info.disrupted span.next-service-destination::after,
div.pid.portrait div.next-service-info.disrupted span.next-service-sch-time::after,
tr.subsequent-service.disrupted td.service-destination span::after {
  content: "";
  display: inline-block;

  background-image: url(../../img/alert.svg);
  background-size: cover;

  margin-left: var(--next-svc-disruption-margin);

  width: var(--next-svc-disruption-size);
  height: var(--next-svc-disruption-size);
}

span.next-service-platform {
  width: var(--next-svc-plat-width);
  font-size: var(--next-svc-plat-font);
  display: inline-block;
  padding-block: var(--next-svc-plat-padding);
  text-align: center;

  background-color: var(--line-colour);
  color: var(--text-colour);
  margin-left: auto;
}

span.next-service-est-time {
  width: calc(var(--width) * 0.2);
  font-size: var(--next-svc-est-time-font);
  font-weight: 400;
  display: inline-block;
  padding-block: var(--next-svc-est-time-padding);
  text-align: center;

  background-color: #000;
  color: #fff;
}

div.next-service-pattern-info {
  margin-top: var(--next-svc-pattern-info-m-top);
  margin-bottom: var(--next-svc-pattern-info-m-bottom);
}

span.next-service-summary {
  font-size: var(--next-svc-summary-font);
  font-weight: 400;
}

div.next-service-detail {
  width: var(--pid-body-width);
  height: calc(var(--height) * 0.55);
}

div.next-service-pattern {
  width: 100%;
  font-size: var(--next-svc-pattern-font);
  height: 100%;
}

div.pid-footer {
  margin-top: auto;
  width: var(--pid-body-width);
  margin-bottom: var(--footer-m-bottom);
  display: flex;

  height: var(--footer-height);
}

table.subsequent-service-info {
  width: var(--subsequent-service-width);
  display: inline-table;
  border-collapse: collapse;
  box-sizing: border-box;
}

tr.subsequent-service.template {
  display: none;
}

tr.subsequent-service td {
  --service-border: calc(var(--height) * 0.002);

  border-top: var(--service-border) solid #000;
  padding: 0;
  padding-block: calc((var(--footer-height) / var(--subsequent-service-count) - var(--service-border) - var(--est-time-box-height)) / 2);
  vertical-align: baseline;
  font-size: var(--subsequent-svc-font);
}

tr.subsequent-service td.service-sch-time {
  width: var(--subsequent-svc-sch-width);
}

tr.subsequent-service td.service-sch-time span {
  border-left: var(--subsequent-svc-line-colour-width) solid var(--line-colour);
  padding-left: calc(var(--width) * 0.01);
}

tr.subsequent-service td.service-destination {
  font-weight: 500;
}

tr.subsequent-service.disrupted td.service-destination span::after {
  width: calc(var(--subsequent-svc-font) * 0.75);
  height: calc(var(--subsequent-svc-font) * 0.75);
}

tr.subsequent-service td.service-summary {
  min-width: calc(var(--width) * 0.15);
  font-size: calc(var(--height) * 0.034);
}

tr.subsequent-service td.service-platform {
  width: var(--subsequent-svc-plat-width);
  text-align: center;
}

tr.subsequent-service td.service-platform span {
  display: inline-block;

  padding-block: var(--subsequent-svc-plat-padding);
  width: var(--subsequent-svc-plat-width);
  line-height: calc(var(--est-time-box-height) - var(--subsequent-svc-plat-padding) * 2);

  background-color: var(--line-colour);
  color: var(--text-colour);
}

tr.subsequent-service td.service-platform:has(span:empty) {
  vertical-align: middle;
}

tr.subsequent-service td.service-est-time {
  width: var(--subsequent-svc-est-time-width);
  text-align: center;
}

tr.subsequent-service td.service-est-time span {
  display: inline-block;
  height: var(--est-time-box-height);
  line-height: var(--est-time-box-height);
  width: calc(var(--subsequent-svc-est-time-width) - var(--subsequent-svc-est-time-margin));
  margin-left: var(--subsequent-svc-est-time-margin);

  background-color: #000;
  color: #fff;
}

div.clock {
  width: calc(var(--width) * 0.2);
  height: 100%;
  border: calc(var(--height) * 0.002) solid #000;
  box-sizing: border-box;

  margin-left: auto;
  
  line-height: var(--footer-height);
  text-align: center;

  font-size: calc(var(--height) * 0.05);
}

div.service-message {
  display: flex;
  position: absolute;

  width: var(--width);
  height: calc(var(--height) * 0.55);
  
  --padding: calc((var(--width) - var(--pid-body-width)) / 2);

  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--height) * -0.55);
  
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--pid-background);

  box-sizing: border-box;
  padding-inline: var(--padding);

  opacity: 0;
}

div.service-message.arrival {
  text-align: left;
  font-size: var(--arrival-font);
  font-weight: 400;
}

div.service-message.arrival i.arrival-icon {
  display: inline-block;
  background-image: url(../../img/do-not-board.svg);
  background-size: cover;

  width: var(--arrival-img-size);
  height: var(--arrival-img-size);

  margin-right: var(--arrival-img-m-right);
  margin-bottom: var(--arrival-img-m-bottom);
}

div.pid.service-message-active div.service-message:not(.alternating) {
  opacity: 1;
}

div.pid.service-message-active div.service-message.alternating {
  animation: opacity 15s ease-in-out infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


div.pid:not(.fixed-message-active) div.fixed-message {
  display: none;
}

div.pid.fixed-message-active div.next-service-info, div.pid.fixed-message-active div.next-service-detail {
  display: none;
}

div.pid.fixed-message-active div.fixed-message {
  display: flex;
  flex-grow: 1;

  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.next-service-message {
  width: var(--subsequent-service-width);
  height: var(--footer-height);
  position: absolute;
}

div.next-service-message.text {
  background-color: var(--pid-background);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;

  animation: opacity 15s ease-in-out infinite;
}

div.next-service-message.disruption {
  background-image: url(../../img/disruption-hatch.svg);
  background-repeat: no-repeat;
  background-size: var(--disruption-hatch-size);

  padding-left: var(--disruption-hatch-padding);
  border-block: calc(var(--height) * 0.005) solid #000;
  border-inline: calc(var(--width) * 0.005) solid #000;
  box-sizing: border-box;

  background-color: #000;
  color: #fff;
  
  display: flex;
  align-items: center;
  font-weight: 400;

  animation: opacity 15s ease-in-out infinite;
}