div.platform.landscape, div.pre-plat.landscape {
  --pid-body-width: calc(var(--width) * 0.96);
  --next-svc-sch-time-font: calc(var(--height) * 0.073);
  --next-svc-dest-font: calc(var(--height) * 0.087);

  --next-svc-disruption-margin: calc(var(--width) * 0.007);
  --next-svc-disruption-size: calc(var(--width) * 0.026);

  --next-svc-plat-width: calc(var(--width) * 0.075);
  --next-svc-plat-font: calc(var(--height) * 0.075);
  --next-svc-plat-padding: calc(var(--height) * 0.01);

  --next-svc-est-time-font: calc(var(--height) * 0.075);
  --next-svc-est-time-padding: calc(var(--height) * 0.01);

  --next-svc-pattern-info-m-top:  calc(var(--height) * 0.005);
  --next-svc-pattern-info-m-bottom: calc(var(--height) * 0.015);

  --next-svc-summary-font: calc(var(--height) * 0.047);

  --next-svc-pattern-font: calc(var(--height) * 0.047);
  --arrow-length: calc(var(--height) * 0.002);
  --arrow-thickness: calc(var(--stop-column-width) * 0.6);
  --stop-continuation-marker-height: calc(var(--height) * 0.025);
  --stop-column-width: calc(var(--width) * 0.007);
  --column-bullet-width: calc(var(--width) * 0.005);

  --footer-height: calc(var(--height) * 0.16);
  --footer-m-bottom: calc(var(--height) * 0.03);
  --subsequent-service-width: calc(var(--width) * 0.74);

  --est-time-box-height: calc(var(--height) * 0.06);
  --subsequent-service-count: 2;

  --subsequent-svc-font: calc(var(--height) * 0.04);
  --subsequent-svc-sch-width: calc(var(--width) * 0.13);
  --subsequent-svc-line-colour-width: calc(var(--width) * 0.007);
  --subsequent-svc-plat-width: calc(var(--width) * 0.045);
  --subsequent-svc-plat-padding: calc(var(--height) * 0.005);
  --subsequent-svc-est-time-width: calc(var(--width) * 0.115);
  --subsequent-svc-est-time-margin: calc(var(--width) * 0.005);

  --arrival-font: calc(var(--height) * 0.08);
  --arrival-img-size: calc(var(--width) * 0.18);
  --arrival-img-margin: calc(var(--width) * 0.04);
}

div.next-service-info {
  width: var(--pid-body-width);
  margin-top: calc(var(--height) * 0.02);
  border-bottom: calc(var(--height) * 0.004) solid #000;
}

div.next-service-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.next-service-header div.left, div.next-service-header div.right {
  display: flex;
  align-items: baseline;
}

div.portrait div.next-service-header div.left, div.portrait div.next-service-header div.right {
  flex-direction: column;
}

div.landscape div.next-service-header div.left, div.landscape div.next-service-header div.right {
  flex-direction: row;
}

span.next-service-sch-time {
  font-size: var(--next-svc-sch-time-font);
  font-weight: 400;
  margin-right: calc(var(--width) * 0.015);
}

span.next-service-destination {
  font-size: var(--next-svc-dest-font);
  font-weight: 700;
}

span.next-service-destination[disrupted=true]::after, td.service-destination span[disrupted=true]::after {
  content: "";
  display: inline-block;

  background-image: url(../../img/alert.svg);
  background-size: cover;

  margin-left: var(--next-svc-disruption-margin);

  width: var(--next-svc-disruption-size);
  height: var(--next-svc-disruption-size);
}

span.next-service-platform {
  width: var(--next-svc-plat-width);
  font-size: var(--next-svc-plat-font);
  display: inline-block;
  padding-block: var(--next-svc-plat-padding);
  text-align: center;

  background-color: var(--line-colour);
  color: var(--text-colour);
  margin-left: auto;
}

div.pre-plat.portrait span.next-service-platform {
  font-weight: 700;
}

div.pid.platform span.next-service-platform {
  display: none;
}

span.next-service-est-time {
  width: calc(var(--width) * 0.2);
  font-size: var(--next-svc-est-time-font);
  font-weight: 400;
  display: inline-block;
  padding-block: var(--next-svc-est-time-padding);
  text-align: center;

  background-color: #000;
  color: #fff;
}

div.pid.pre-plat.landscape span.next-service-est-time {
  margin-left: calc(var(--width) * 0.005);
}

div.pre-plat.portrait span.next-service-est-time {
  margin-top: calc(var(--height) * 0.003);
}

div.next-service-pattern-info {
  margin-top: var(--next-svc-pattern-info-m-top);
  margin-bottom: var(--next-svc-pattern-info-m-bottom);
}

span.next-service-summary {
  font-size: var(--next-svc-summary-font);
  font-weight: 400;
}

div.next-service-detail {
  width: var(--pid-body-width);
  height: calc(var(--height) * 0.55);
}

div.next-service-pattern {
  width: 100%;
  font-size: var(--next-svc-pattern-font);
  height: 100%;
}

div.pid-footer {
  margin-top: auto;
  width: var(--pid-body-width);
  margin-bottom: var(--footer-m-bottom);
  display: flex;

  height: var(--footer-height);
}

table.subsequent-service-info {
  width: var(--subsequent-service-width);
  display: inline-table;
  border-collapse: collapse;
  box-sizing: border-box;
}

tr.subsequent-service td {
  --service-border: calc(var(--height) * 0.002);

  border-top: var(--service-border) solid #000;
  padding: 0;
  padding-block: calc((var(--footer-height) / var(--subsequent-service-count) - var(--service-border) - var(--est-time-box-height)) / 2);
  vertical-align: baseline;
  font-size: var(--subsequent-svc-font);
}

tr.subsequent-service td.service-sch-time {
  width: var(--subsequent-svc-sch-width);
}

tr.subsequent-service td.service-sch-time span {
  border-left: var(--subsequent-svc-line-colour-width) solid var(--line-colour);
  padding-left: calc(var(--width) * 0.01);
}

tr.subsequent-service td.service-destination {
  font-weight: 500;
}

td.service-destination span[disrupted=true]::after {
  width: calc(var(--width) * 0.02);
  height: calc(var(--width) * 0.02);
}

div.pid.pre-plat.portrait tr.subsequent-service td.service-summary {
  display: none;
}

tr.subsequent-service td.service-summary {
  min-width: calc(var(--width) * 0.15);
  font-size: calc(var(--height) * 0.034);
}

tr.subsequent-service td.service-platform {
  width: var(--subsequent-svc-plat-width);
  text-align: center;
}

div.pid.platform tr.subsequent-service td.service-platform {
  display: none;
}

tr.subsequent-service td.service-platform span {
  display: inline-block;

  padding-block: var(--subsequent-svc-plat-padding);
  width: var(--subsequent-svc-plat-width);
  line-height: calc(var(--est-time-box-height) - var(--subsequent-svc-plat-padding) * 2);

  background-color: var(--line-colour);
  color: var(--text-colour);
}

tr.subsequent-service td.service-platform:has(span:empty) {
  vertical-align: middle;
}

tr.subsequent-service td.service-est-time {
  width: var(--subsequent-svc-est-time-width);
  text-align: center;
}

tr.subsequent-service td.service-est-time span {
  display: inline-block;
  height: var(--est-time-box-height);
  line-height: var(--est-time-box-height);
  width: calc(var(--subsequent-svc-est-time-width) - var(--subsequent-svc-est-time-margin));
  margin-left: var(--subsequent-svc-est-time-margin);

  background-color: #000;
  color: #fff;
}

div.clock {
  width: calc(var(--width) * 0.2);
  height: 100%;
  border: calc(var(--height) * 0.002) solid #000;
  box-sizing: border-box;

  margin-left: auto;
  
  line-height: var(--footer-height);
  text-align: center;

  font-size: calc(var(--height) * 0.05);
}

div.service-message {
  display: flex;
  position: absolute;

  width: var(--width);
  height: calc(var(--height) * 0.55);
  
  margin-left: calc((var(--width) - var(--pid-body-width)) / 2 * -1);
  margin-top: calc(var(--height) * -0.55);
  
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--pid-background);

  opacity: 0;
}

div.service-message.arrival {
  text-align: left;
  font-size: var(--arrival-font);
  font-weight: 400;
}

div.service-message.arrival::before {
  content: "";
  background-image: url(../../img/do-not-board.svg);
  background-size: cover;

  width: var(--arrival-img-size);
  height: var(--arrival-img-size);

  margin-right: var(--arrival-img-margin);
}

div.pid.service-message-active div.service-message:not(.alternating) {
  opacity: 1;
}

div.pid.service-message-active div.service-message.alternating {
  animation: opacity 15s ease-in-out infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


div.pid:not(.fixed-message-active) div.fixed-message {
  display: none;
}

div.pid.fixed-message-active div.next-service-info, div.pid.fixed-message-active div.next-service-detail {
  display: none;
}

div.pid.fixed-message-active div.fixed-message {
  display: flex;
  flex-grow: 1;

  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.next-service-message {
  width: var(--subsequent-service-width);
  height: var(--footer-height);
  position: absolute;
}

div.next-service-message.text {
  background-color: var(--pid-background);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;

  animation: opacity 15s ease-in-out infinite;
}

div.next-service-message.disruption {
  background-image: url(../../img/disruption-hatch.svg);
  background-repeat: no-repeat;
  background-size: 1%;

  padding-left: calc(var(--width) * 0.017);
  border-block: calc(var(--height) * 0.005) solid #000;
  border-inline: calc(var(--width) * 0.005) solid #000;
  box-sizing: border-box;

  background-color: #000;
  color: #fff;
  
  display: flex;
  align-items: center;
  font-weight: 400;

  animation: opacity 15s ease-in-out infinite;
}

div.next-service-message.msg-size-1 {
  font-size: calc(var(--height) * 0.04);
}

div.next-service-message.msg-size-2 {
  font-size: calc(var(--height) * 0.047);
  line-height: 1;
}

div.next-service-message.msg-size-3 {
  font-size: calc(var(--height) * 0.05);
}

div.next-service-message.msg-size-4 {
  font-size: calc(var(--height) * 0.07);
  line-height: 1;
}

div.next-service-message.msg-size-5 {
  font-size: calc(var(--height) * 0.1);
}

div.pre-plat.portrait div.clock {
  display: none;
}