div.platform.landscape, div.pre-plat.landscape {
  --pid-body-width: calc(var(--width) * 0.96);
  --next-svc-sch-time-font: calc(var(--height) * 0.077);
  --next-svc-sch-time-letter-spacing: calc(var(--width) * 0.0005);
  --next-svc-dest-font: calc(var(--height) * 0.098);
  --next-svc-dest-letter-spacing: calc(var(--width) * 0.0015);

  --next-svc-disruption-margin: calc(var(--width) * 0.007);
  --next-svc-disruption-size: calc(var(--width) * 0.026);

  --next-svc-plat-width: calc(var(--width) * 0.075);
  --next-svc-plat-font: calc(var(--height) * 0.075);
  --next-svc-plat-padding: calc(var(--height) * 0.01);

  --next-svc-est-time-font: calc(var(--height) * 0.075);
  --next-svc-est-time-padding: calc(var(--height) * 0.01);

  --next-svc-pattern-info-m-top:  calc(var(--height) * 0.015);
  --next-svc-pattern-info-m-bottom: calc(var(--height) * 0.015);

  --next-svc-summary-font: calc(var(--height) * 0.047);

  --next-svc-pattern-font: calc(var(--height) * 0.04);
  --next-svc-pattern-letter-spacing: calc(var(--width) * 0.0004);
  --next-svc-pattern-line-height: 1.12;

  --next-svc-pattern-height: calc(var(--height) * 0.5);

  --arrow-length: calc(var(--height) * 0.016);
  --arrow-thickness: calc(var(--stop-column-width) * 0.7);
  --arrow-margin-top: calc(var(--stop-column-width) * 0.6);
  --stop-continuation-marker-height: calc(var(--height) * 0.025);
  --stop-column-width: calc(var(--width) * 0.008);
  --stop-column-margin-right: calc(var(--width) * 0.003);
  --column-bullet-width: calc(var(--width) * 0.005);

  --footer-height: calc(var(--height) * 0.18);
  --footer-m-bottom: calc(var(--height) * 0.02);
  --subsequent-service-width: calc(var(--width) * 0.73);

  --est-time-box-height: calc(var(--height) * 0.06);
  --subsequent-service-count: 2;

  --subsequent-svc-sch-font: calc(var(--height) * 0.045);
  --subsequent-svc-dest-font: calc(var(--height) * 0.042);
  --subsequent-svc-sum-font: calc(var(--height) * 0.0335);
  --subsequent-svc-time-plat-font: calc(var(--height) * 0.045);
  --subsequent-svc-sch-width: calc(var(--width) * 0.12);
  --subsequent-svc-line-colour-width: calc(var(--width) * 0.007);
  --subsequent-svc-plat-width: calc(var(--width) * 0.045);
  --subsequent-svc-plat-padding: calc(var(--height) * 0.005);
  --subsequent-svc-est-time-width: calc(var(--width) * 0.115);
  --subsequent-svc-est-time-margin: calc(var(--width) * 0.005);

  --arrival-font: calc(var(--height) * 0.08);
  --arrival-img-size: calc(var(--width) * 0.18);
  --arrival-img-m-right: calc(var(--width) * 0.04);
  --arrival-img-m-bottom: 0;

  --service-message-padding: calc(var(--width) * 0.03);

  --disruption-hatch-size: 1%;
  --disruption-hatch-padding: calc(var(--width) * 0.015);
}

div.pid.platform span.next-service-platform {
  display: none;
}

div.pid.pre-plat.landscape span.next-service-est-time {
  margin-left: calc(var(--width) * 0.005);
}

div.pid.platform tr.subsequent-service td.service-platform {
  display: none;
}

div.pid.landscape div.clock {
  width: calc(var(--width) * 0.21);
  height: var(--footer-content-height);
  border: calc(var(--height) * 0.002) solid #000;
  box-sizing: border-box;

  margin-left: auto;
  
  line-height: var(--footer-content-height);
  text-align: center;

  font-size: calc(var(--height) * 0.05);
}

div.pid.landscape .msg-size-1 {
  font-size: calc(var(--height) * 0.08);
}

div.pid.landscape .msg-size-2 {
  font-size: calc(var(--height) * 0.10);
}

div.pid.landscape .msg-size-3 {
  font-size: calc(var(--height) * 0.135);
}

div.pid.landscape .msg-size-4 {
  font-size: calc(var(--height) * 0.15);
}

div.pid.landscape .msg-size-5 {
  font-size: calc(var(--height) * 0.17);
}

div.pid.landscape div.next-service-message.msg-size-1 {
  font-size: calc(var(--height) * 0.04);
}

div.pid.landscape div.next-service-message.msg-size-2 {
  font-size: calc(var(--height) * 0.047);
  line-height: 1;
}

div.pid.landscape div.next-service-message.msg-size-3 {
  font-size: calc(var(--height) * 0.05);
}

div.pid.landscape div.next-service-message.msg-size-4 {
  font-size: calc(var(--height) * 0.07);
  line-height: 1;
}

div.pid.landscape div.next-service-message.msg-size-5 {
  font-size: calc(var(--height) * 0.1);
}