div.next-service-info {
  width: 96%;
  /* height: calc(var(--height) * 0.25); */
  margin-top: calc(var(--height) * 0.02);
  border-bottom: calc(var(--height) * 0.004) solid #000;
}

div.next-service-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

span.next-service-sch-time {
  font-size: calc(var(--height) * 0.08);
  font-weight: 400;
  margin-right: calc(var(--width) * 0.015);
}

span.next-service-destination {
  font-size: calc(var(--height) * 0.1);
  font-weight: 700;
}

span.next-service-est-time {
  width: calc(var(--width) * 0.2);
  font-size: calc(var(--height) * 0.09);
  font-weight: 400;
  display: inline-block;
  padding-block: calc(var(--height) * 0.012);
  text-align: center;

  background-color: #000;
  color: #fff;
  margin-left: auto;
}

div.next-service-pattern-info {
  margin-bottom: calc(var(--height) * 0.02);
}

span.next-service-summary {
  font-size: calc(var(--height) * 0.052);
  font-weight: 400;
}

div.next-service-pattern {
  width: 96%;
  font-size: calc(var(--height) * 0.037);
}
