div.pre-plat.portrait {
  --pid-body-width: calc(var(--width) * 0.92);
  --next-svc-sch-time-font: calc(var(--height) * 0.038);
  --next-svc-dest-font: calc(var(--height) * 0.048);

  --next-svc-disruption-margin: calc(var(--width) * 0.015);
  --next-svc-disruption-size: calc(var(--width) * 0.05);

  --next-svc-plat-width: calc(var(--width) * 0.2);
  --next-svc-plat-font: calc(var(--height) * 0.055);
  --next-svc-plat-padding: calc(var(--height) * 0.007);

  --next-svc-est-time-font: calc(var(--height) * 0.026);
  --next-svc-est-time-padding: calc(var(--height) * 0.005);

  --next-svc-pattern-info-m-top: calc(var(--height) * 0.007);
  --next-svc-pattern-info-m-bottom: calc(var(--height) * 0.013);

  --next-svc-summary-font: calc(var(--height) * 0.03);

  --next-svc-pattern-font: calc(var(--height) * 0.022);
  --arrow-length: calc(var(--height) * 0.014);
  --arrow-thickness: calc(var(--stop-column-width) * 0.8);
  --stop-continuation-marker-height: calc(var(--height) * 0.012);
  --stop-column-width: calc(var(--width) * 0.015);
  --column-bullet-width: calc(var(--width) * 0.01);

  --footer-height: calc(var(--height) * 0.2);
  --footer-m-bottom: calc(var(--height) * 0.01);
  --subsequent-service-width: calc(var(--width) * 0.92);

  --est-time-box-height: calc(var(--height) * 0.035);
  --subsequent-service-count: 4;

  --subsequent-svc-font: calc(var(--height) * 0.021);
  --subsequent-svc-sch-width: calc(var(--width) * 0.2);
  --subsequent-svc-line-colour-width: calc(var(--width) * 0.015);
  --subsequent-svc-plat-width: calc(var(--width) * 0.08);
  --subsequent-svc-plat-padding: calc(var(--height) * 0.003);
  --subsequent-svc-est-time-width: calc(var(--width) * 0.15);
  --subsequent-svc-est-time-margin: calc(var(--width) * 0.01);

  --arrival-font: calc(var(--height) * 0.05);
  --arrival-img-size: calc(var(--width) * 0.3);
  --arrival-img-m-right: 0;
  --arrival-img-m-bottom: calc(var(--width) * 0.04);

  --service-message-padding: calc(var(--width) * 0.05);

  --disruption-hatch-size: 1.5%;
  --disruption-hatch-padding: calc(var(--width) * 0.024);
}

div.pid.pre-plat.portrait div.service-message.arrival {
  flex-direction: column;
}

.msg-size-1 {
  font-size: calc(var(--height) * 0.04);
}

.msg-size-2 {
  font-size: calc(var(--height) * 0.058);
}

.msg-size-3 {
  font-size: calc(var(--height) * 0.068);
}

.msg-size-4 {
  font-size: calc(var(--height) * 0.97);
}

.msg-size-5 {
  font-size: calc(var(--height) * 0.12);
}


div.next-service-message.msg-size-1 {
  font-size: calc(var(--height) * 0.025);
}

div.next-service-message.msg-size-2 {
  font-size: calc(var(--height) * 0.028);
  line-height: 1;
}

div.next-service-message.msg-size-3 {
  font-size: calc(var(--height) * 0.03);
}

div.next-service-message.msg-size-4 {
  font-size: calc(var(--height) * 0.035);
  line-height: 1;
}

div.next-service-message.msg-size-5 {
  font-size: calc(var(--height) * 0.04);
}