html
  head
    style.
      @font-face {
        font-family: "NetworkSans";
        font-weight: 300;
        src: url(static/fonts/NetworkSans-Light.ttf);
      }

      @font-face {
        font-family: "NetworkSans";
        font-weight: 700;
        src: url(static/fonts/NetworkSans-Bold.ttf);
      }

      body {
        font-family: NetworkSans;
        font-weight: 200;
      }
  body
    h1 TransportVic PID Testing Site
    p Find all PIDs in development here. For live PIDs go to 
      a(href='https://transportvic.me/mockups') TransportVic
      |. Interested in contributing? Find the source code on 
      a(href='https://github.com/TransportVic/vic-pid/') GitHub
    hr
    for pid in pids
      a(href=pid.href)
        h2 #{pid.name}