extends ../core/pid

block head
  link(rel='stylesheet' href=`${staticContent}/css/colours.css`)
  link(rel='stylesheet' href=`${staticContent}/css/test/service-list-test.css`)
  link(rel='stylesheet' href=`${staticContent}/css/metro-lcd/templates/service-list.css`)

block pid
  include ../metro-lcd/templates/service-list
  +compactServiceList('Craigieburn, Sunbury & Upfield Lines', 'craigieburn', 3)
  +compactServiceList('Frankston, Werribee, Williamstown & Altona', 'frankston', 3)
  +compactServiceList('Regional Services', 'vline', 1)
  +compactServiceList('Flemington Racecourse Line', 'flemington-racecourse', 1)