div.pid {
  --header-content-height: calc(var(--height) * 0.08);
  --header-margin: calc(var(--height) * 0.016);
  --header-height: calc(var(--header-content-height) + var(--header-margin) * 2);
}

div.sections {
  display: flex;
  flex-direction: column;
  height: var(--height);
  --service-list-width: var(--width);
}

div.sections > div:not(:first-child) {
  border-top: calc(var(--height) * 0.003) solid #000;
}