div.pid.mce {
  --header-content-height: calc(var(--height) * 0.05);
  --header-margin: calc(var(--height) * 0.01);
}

div.pid.nme {
  --header-content-height: calc(var(--height) * 0.0);
  --header-margin: calc(var(--height) * 0.0);
}

div.pid.rmd {
  --header-content-height: calc(var(--height) * 0.08);
  --header-margin: calc(var(--height) * 0.016);
}

div.pid.fss {
  --area-height: var(--height);
}