div.pid {
  --header-content-height: calc(var(--height) * 0.06);
  --header-margin: calc(var(--height) * 0.01);
  --header-height: calc(var(--header-content-height) + var(--header-margin) * 2);
}

div.portrait div.header {
  font-size: calc(var(--height) * 0.034);
  margin-block: var(--header-margin);
  width: var(--width);
  height: var(--header-content-height);
}

div.portrait div.header span {
  margin-left: calc(var(--width) * 0.04);
  font-weight: 700;
}

div.sections {
  display: flex;
  flex-direction: column;
  height: var(--height);
  --service-list-width: var(--width);
  justify-content: space-between;
}

div.sections > div {
  border-top: calc(var(--height) * 0.003) solid #000;
}