html
  head
    link(rel='stylesheet' href=`${staticContent}/css/pid-base.css`)
    script(src=`${staticContent}/scripts/util.js`)
    script(src=`${staticContent}/scripts/dayjs.js`)
    block head
  body
    block pid
    block scripts